{% extends 'medicamentos/base.html' %}

{% block content %}


                <h2>Proyectos </h2>
                    {% for Proyecto in proyectos %}

                    <div class="card bg-light mb-3" style="max-width: 50rem;">
                            <div class="card-header" ><a class="nav-link" href="{% url 'proyecto_detail' pk=Proyecto.pk %}" ><span class="glyphicon glyphicon-list">{{ Proyecto.nombre }}</span></a></div>
                            <div class="card-body">
                              <h4 class="card-title">Información</h4>
                              <p class="card-text">
                                        <a > Descripccion de Proyecto</a> 
                                        <p> 
                                            {{ Proyecto.descripcion }}
                                        </p>
            
                                        <a  > Fecha Aprobado  </a> 
                                        
                                        {{ Proyecto.fecha_aprobado }}
                                        <br>
                                        
                                        <a > Integrantes de Proyecto</a> 
                                        <p> 
                                            {{ Proyecto.nombre_integrantes }}
                                        </p>
                                        <a  > Carreras de Proyecto</a> 
                                        <p> 
                                            {{ Proyecto.carreras }}
                                        </p>
                                        <a class="nav-link" href="{% url 'proyecto_editar' pk=Proyecto.pk  %}" ><span class="glyphicon glyphicon-list">Editar Proyecto</span></a>
                                        
                                        <a class="nav-link" href="{% url 'proyecto_remove' pk=Proyecto.pk  %}" ><span class="glyphicon glyphicon-list">Borrar Proyecto</span></a>
                                        

                                        
                                        
                              </p>
                            </div>
                          </div>
                    
                        

              


                       
                    {% endfor %}
 

{% endblock %}